form(action='/connect', method='POST')
    label Username &nbsp;
    input(name='username', type='text', required)
    br
    label Password &nbsp;
    input(name='password', type='password', required)
    br
    input(name='submit', value='Log in', type='submit')