extends layout

block content
    h1= title
    p Welcome to #{title}

    if (session.loggedIn)
        p #[strong(id='username') #{session.username}], you are amazing
        include chat
    else
        if (session.loggedIn !== undefined)
            p You are almost amazing

        h2 Connection:
        include connection
        br
        h2 Registration:
        include registration