form(action='/registrate', method='POST')
    label Username &nbsp;
    input(name='username', type='text', required)
    br
    label Password &nbsp;
    input(name='password1', type='password', required)
    br
    label Confirm &nbsp;
    input(name='password2', type='password', required)
    br
    input(name='submit', value='Log in', type='submit')